In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('final_datasetnewww.csv')

In [3]:
dataset

      Age  Gender Blood Type Medical Condition   Medication Test Results
0      35    Male         O+            Asthma      Lipitor       Normal
1      61    Male         B-           Obesity      Lipitor       Normal
2      49    Male         B-            Asthma   Penicillin     Abnormal
3      51    Male         O-         Arthritis  Paracetamol       Normal
4      41    Male        AB+         Arthritis      Aspirin     Abnormal
...   ...     ...        ...               ...          ...          ...
6718   83    Male         A+           Obesity    Ibuprofen     Abnormal
6719   47  Female        AB+         Arthritis    Ibuprofen       Normal
6720   54    Male         B-         Arthritis    Ibuprofen       Normal
6721   84    Male         A+         Arthritis   Penicillin       Normal
6722   20    Male         B-         Arthritis   Penicillin     Abnormal

[6723 rows x 6 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6723 entries, 0 to 6722
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                6723 non-null   int64
 1   Gender             6723 non-null   object
 2   Blood Type         6723 non-null   object
 3   Medical Condition  6723 non-null   object
 4   Medication         6723 non-null   object
 5   Test Results       6723 non-null   object
dtypes: int64(1), object(5)
memory usage: 315.3+ KB

In [5]:
data = dataset['Gender'].unique()

In [6]:
data

array(['Male', 'Female'], dtype=object)

In [7]:
data = dataset['Blood Type'].unique()

In [8]:
data

array(['O+', 'B-', 'O-', 'AB+', 'A+', 'A-', 'AB-', 'B+'], dtype=object)

In [9]:
data = dataset['Medical Condition'].unique()
data

array(['Asthma', 'Obesity', 'Arthritis', 'Hypertension', 'Diabetes',
       'Cancer'], dtype=object)

In [10]:
data = dataset['Medication'].unique()
data

array(['Lipitor', 'Penicillin', 'Paracetamol', 'Aspirin', 'Ibuprofen'],
      dtype=object)

In [11]:
data = dataset['Test Results'].unique()
data

array(['Normal', 'Abnormal'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder

columns_encode = ['Medical Condition', 'Gender', 'Blood Type', 'Medication', 'Test Results']
data_encode = dataset[columns_encode].copy()

label_encoder = LabelEncoder()
for column in columns_encode:
    data_encode[column] = label_encoder.fit_transform(data_encode[column])

dataset[columns_encode] = data_encode

C:\Users\PythonTeam\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [13]:
dataset

      Age  Gender  Blood Type  Medical Condition  Medication  Test Results
0      35       1           6                  1           2             1
1      61       1           5                  5           2             1
2      49       1           5                  1           4             0
3      51       1           7                  0           3             1
4      41       1           2                  0           0             0
...   ...     ...         ...                ...         ...           ...
6718   83       1           0                  5           1             0
6719   47       0           2                  0           1             1
6720   54       1           5                  0           1             1
6721   84       1           0                  0           4             1
6722   20       1           5                  0           4             0

[6723 rows x 6 columns]

In [14]:
X = dataset.iloc[:,0:5].values
y = dataset.iloc[:,5].values

In [15]:
X

array([[35,  1,  6,  1,  2],
       [61,  1,  5,  5,  2],
       [49,  1,  5,  1,  4],
       ...,
       [54,  1,  5,  0,  1],
       [84,  1,  0,  0,  4],
       [20,  1,  5,  0,  4]], dtype=int64)

In [16]:
y

array([1, 1, 0, ..., 1, 1, 0])

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [18]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X, Y = smote.fit_resample(X, y)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [20]:
X_train.shape

(4838, 5)

In [21]:
X_test.shape

(2074, 5)

In [22]:
Y_train.shape

(4838,)

In [23]:
Y_test.shape

(2074,)

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)*100
print("Accuracy:", accuracy)

Accuracy: 52.74831243972999

In [25]:
import joblib
joblib.dump(model, 'rfjoblib1.pkl')

['rfjoblib1.pkl']